<div class="comment">
<p>
  <strong><%= t('activerecord.attributes.comment.commenter')%></strong>
  <%= comment.commenter %>
</p>
<p>
  <strong><%= t('activerecord.attributes.comment.body')%></strong>
  <%= simple_format comment.body %>
</p>
<% if params[:controller] == "books" &&  comment.user_id == current_user.id %>
  <%= link_to t('scaffold.destroy'),book_comment_path(@book, comment),method: :delete, data: { confirm: t('scaffold.confirm') } %>
<%  elsif params[:controller] == "reports" &&  comment.user_id == current_user.id  %>
  <%= link_to t('scaffold.destroy'),report_comment_path(@report, comment), method: :delete, data: { confirm: t('scaffold.confirm') } %>
<% end %>
<% if params[:controller] == "books" &&  comment.user_id == current_user.id  %>
  <%= link_to t('scaffold.edit'),edit_book_comment_path(@book, comment)  %>
<%  elsif params[:controller] == "reports" &&  comment.user_id == current_user.id  %>
  <%= link_to t('scaffold.edit'),edit_report_comment_path(@report, comment)  %>
<% end %>
</div>
