<p>
  <strong><%= t('activerecord.attributes.book.title') %></strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.book.memo') %></strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t('activerecord.attributes.book.author') %></strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t('activerecord.attributes.book.picture') %></strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= render @book.comments %>

<h2><%= t('.AddComments') %></h2>
<%= form_for( [@book, @book.comments.build] ) do |f| %>
  <p>
    <%= t('activerecord.attributes.comment.commenter') %><br />
    <%= f.text_field :commenter %>
  </p>

  <p>
    <%= t('activerecord.attributes.comment.body') %><br />
    <%= f.text_area :body, cols: 60, rows: 8 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to t('scaffold.edit'), edit_book_path(@book) %> |
<%= link_to t('scaffold.back'), books_path %>
